/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 8, 2018, 3:17:25 PM
    Author     : Taichu
*/


:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

/* navbar */
.navbar-default {
    background-color: #1e9aff;
    border-color: #ffffff;
}
/* Title */
.navbar-default .navbar-brand {
    color: #ffffff;
    font-weight: bold;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #B9DFFF;
    font-weight: bold;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #B9DFFF;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: #B9DFFF;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #000000;
    background-color: #B9DFFF;
}
.navbar-toggle {
    background-color: #fff !important;
}
.swiper-container {
    height: 300px;
}
.section-category{
    padding: 10px;
    font-weight: bold;
    color: #000;
}
.navbar-logo {
    height: 50px;
    margin: 10px;
}

/*start list category */

.list-category{
    margin-left: auto;
    margin-right:auto;
    margin-bottom:5px;
    vertical-align:middle;
    width:1140px;
    height:40px;
}

.category{
    float:left;
    padding:5px;	
}

.filter{
    float:right;
    padding:5px;	
}

.section-list-category{
    margin-left: auto;
    margin-right:auto;
    margin-bottom:5px;
    width:1140px;
    height:200px;
    border:thin #CCC solid;
}

.thumbnail-list{
    float:left;
    padding:5px;	
}

.content-list{
    float:left;
    padding:5px;
    width:820px;
}

.title-list{
    float:left;
    padding:5px;

    font-size:24px;	
}

/*end list category */

/*Login Style*/
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}
/*Login Style*/